extends layout

block content
  h1
    | #{title} (#{champs.length})
  //- table
  //-   tr
  //-     th
  //-       | Image
  //-     th
  //-       | Name
  //-     th
  //-       | Tags
      //- th
      //-   | Passive
      //- th(colspan="4")
      //-   | Skills
  each champ in champs
    include ./champion_banner.jade
