doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul#main-nav
      li
        a(href="/login") Login / Register
      li
        a(href="/champions") Champions
    block content
