doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/scripts/jquery-2.1.4.min.js")
  body
    ul#main-nav
      li
        a(href="/") Home
      li
        a(href="/login") Login / Register
      li
        a(href="/champions") Champions
      li
        a(href="/items") Items
    block content
