extends layout

block content
  script(type="text/javascript", src="/scripts/login.js")
  h1
    | #{title}
  h2 Add New User
  div
    form(method="POST", action="/login", id="form_add_user")
      input(type="text", name="league_name", id="league_name")
      br
      input(type="submit", value="Register", id="btn_add_user")
  h2 Current Users
  div
    table#current-users
      thead
        tr
          th
            | Username
          th
            | ID
      each user in users
        tr
          td.username=user.name
          td=user.id
