body {
  padding: 50px;
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#main-nav {
  margin: 0 auto;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  text-align: center;
}

#main-nav li {
  padding: 16px 0;
  margin: 0;
  text-align: center;
  display: inline-block;
  width: 15%;
}

td.skill,
td.passive {
  text-align: center;
}

p.skill-name {
  height: 40px;
  width: 125px;
}

.champ-title {
  text-transform: capitalize;
}

.skin-title {
  text-transform: capitalize;
}

.champ-header {
  border: 1px solid #000;
  width: 610px;
  height: 122px;
  margin: 0 auto;
}

.champ-stats {
  margin: 20px 0;
}
.champ-image {
  text-align: center;
}
.champ-image img {
  vertical-align: inherit;
}

.progress {
  background-image: -webkit-linear-gradient(top,#dedede 0,#efefef 100%);
  background-image: -o-linear-gradient(top,#dedede 0,#efefef 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dedede),to(#efefef));
  background-image: linear-gradient(to bottom,#dedede 0,#efefef 100%);
}

.attack {/* #337ab7 TOP TO BOTTOM #286090*/
  background-image: -webkit-linear-gradient(top,#cc4646 0,#770505 100%);
  background-image: -o-linear-gradient(top,#cc4646 0,#770505 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#cc4646),to(#770505));
  background-image: linear-gradient(to bottom,#cc4646 0,#770505 100%);
  background-color: #cc4646;
}
.defense {
  background-image: -webkit-linear-gradient(top,#12cc23 0,#057705 100%);
  background-image: -o-linear-gradient(top,#12cc23 0,#057705 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#12cc23),to(#057705));
  background-image: linear-gradient(to bottom,#12cc23 0,#057705 100%);
  background-color: #12cc23;
}
.magic {
  background-image: -webkit-linear-gradient(top,#1649cc 0,#050577 100%);
  background-image: -o-linear-gradient(top,#1649cc 0,#050577 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#1649cc),to(#050577));
  background-image: linear-gradient(to bottom,#1649cc 0,#050577 100%);
  background-color: #1649cc;
}
.difficulty {
  background-image: -webkit-linear-gradient(top,#8716aa 0,#330533 100%);
  background-image: -o-linear-gradient(top,#8716aa 0,#330533 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#8716aa),to(#330533));
  background-image: linear-gradient(to bottom,#8716aa 0,#330533 100%);
  background-color: #8716aa;
}

ul.skin-list li {
  display: inline-block;
  width: 205px;
  
}

img.champion-skin {
  width: 200px;
}

.itemDesc {
  max-width: 700px;
}

.item-row {
  
}

h1,
h2,
h3 {
  margin: 10px auto;
  text-align: center;
}

#add_user,
#page-view,
#current-users {
  margin: 0 auto;
}

#current-users th,
#current-users td,
#page-view th,
#page-view td {
  padding: 3px 7px;
  border: 1px solid #000;
}

.med-col {
  width: 350px;
}

.wide-col {
  width: 500px;
}

.summoner-level {
  text-align: right;
}

#add_user {
  width: 250px;
  text-align: center;
  border: 1px solid #000;
  padding: 10px;
}

.progress {
  margin-bottom: 0;
}

.progress-bar {
  min-width: 2em;
}
