body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#main-nav {
  margin: 0 auto;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

#main-nav li {
  padding: 0;
  margin: 0;
  text-align: center;
}

tr.champ-row {
  height: 150px;
}

tr.champ-row td.champ-img {
  vertical-align: middle;
}

tr.champ-row td {
  vertical-align: top;
}

td.skill,
td.passive {
  text-align: center;
}

p.skill-name {
  height: 40px;
  width: 125px;
}

.champ-title,
.skin-title {
  text-transform: capitalize;
}

ul.skin-list li {
  display: inline-block;
  width: 205px;
  
}

img.champion-skin {
  width: 200px;
}

.itemDesc {
  max-width: 700px;
}

.item-row {
  
}
