body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#main-nav {
  margin: 0 auto;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

#main-nav li {
  padding: 0;
  margin: 0;
  text-align: center;
}

tr.champ-row {
  height: 150px;
}

tr.champ-row td.champ-img {
  vertical-align: middle;
}

tr.champ-row td {
  vertical-align: top;
}

td.skill,
td.passive {
  text-align: center;
}

p.skill-name {
  height: 40px;
  width: 125px;
}

.champ-title,
.skin-title {
  text-transform: capitalize;
}

.champ-header {
  border: 1px solid #000;
  width: 610px;
  height: 120px;
}

.champ-stats,
.champ-image {
  display: inline-block;
}

.champ-stats {
  margin: 15px 50px;
}

.champ-stats td:last-child {
  padding-left: 10px;
  width: 125px;
}

.champ-stats .stat {
  height: 10px;
  width: 300px;
  background-color: #ddd;
}

.champ-stats .attack,
.champ-stats .defense,
.champ-stats .magic,
.champ-stats .difficulty {
  height: 10px;
}

.champ-stats .stat-1 { width: 30px; }
.champ-stats .stat-2 { width: 60px; }
.champ-stats .stat-3 { width: 90px; }
.champ-stats .stat-4 { width: 120px; }
.champ-stats .stat-5 { width: 150px; }
.champ-stats .stat-6 { width: 180px; }
.champ-stats .stat-7 { width: 210px; }
.champ-stats .stat-8 { width: 240px; }
.champ-stats .stat-9 { width: 270px; }

.champ-stats .attack {
  background-color: #9a1616;
}

.champ-stats .defense {
  background-color: #128023;
}

.champ-stats .magic {
  background-color: #16499a;
}

.champ-stats .difficulty {
  background-color: #57169a;
}

ul.skin-list li {
  display: inline-block;
  width: 205px;
  
}

img.champion-skin {
  width: 200px;
}

.itemDesc {
  max-width: 700px;
}

.item-row {
  
}

h1,
h2 {
  margin: 10px auto;
  text-align: center;
}

#add_user,
#page-view,
#current-users {
  margin: 0 auto;
}

#current-users th,
#current-users td,
#page-view th,
#page-view td {
  padding: 3px 7px;
  border: 1px solid #000;
}

.med-col {
  width: 350px;
}

.wide-col {
  width: 500px;
}

.summoner-level {
  text-align: right;
}

#add_user {
  width: 250px;
  text-align: center;
  border: 1px solid #000;
  padding: 10px;
}
